<div id="star-layer-close">
  <div id="star-layer-close-inverse">
    <div class="small-star" id="star0"></div>
    <div class="small-star" id="star1"></div>
    <div class="small-star" id="star2"></div>
    <div class="small-star" id="star3"></div>
    <div class="small-star" id="star4"></div>
    <div class="small-star" id="star5"></div>
    <div class="small-star" id="star6"></div>
    <div class="small-star" id="star7"></div>
    <div class="small-star" id="star8"></div>
    <div class="small-star" id="star9"></div>
    <div class="small-star" id="star10"></div>
    <div class="small-star" id="star11"></div>
  </div>
</div>
  
<div id="star-layer-far">
  <div id="star-layer-far-inverse">
    <div class="small-star" id="star12"></div>
    <div class="small-star" id="star13"></div>
    <div class="small-star" id="star14"></div>
    <div class="small-star" id="star15"></div>
    <div class="small-star" id="star16"></div>
    <div class="small-star" id="star17"></div>
  </div>
</div>
